@import url("./basic.css");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');



@mixin flex($a,$j){
    display: flex;
    flex-wrap: wrap;
    align-items: $a;
    justify-content: $j;

    @content;
}
html{
    font-size: 1vw;
    
}
body{
    margin: 0 auto;
    width: 100%;
    
}
article{
    margin: 0 5rem;
}
.header{
    background-color: rgba(240, 240, 240, 0.8);
    color: black;
    width: 100%;
    height: 7rem;
    font-size: 1rem;
    padding: 0 5rem;
    z-index: 20;
    @include flex(center,space-between){
    flex-direction: row;
    margin: 1rem;
    }
    margin: 0 auto;
    position: fixed; left: 0; top: 0;
    transition: 1s;
    
    div{
        a{
            img{}
        }
        }   
    ul{
        margin-left: auto;
        @include flex(center,space-between){
            flex-direction: row;
            padding: 0 5rem;
        }
        
        gap:3rem;
        padding: 0 1rem;
        li{
            a{
                color: #000000;
                font-weight:bold;
                
            }
            a:hover{
                color: #2F765F;
            }
            
        }
    }
    div{
        select{
            vertical-align: middle;
            width: 3rem;
            height: 35px;
            background: #f0f0f080;
            color: #000000; 
            border: 1px solid #f0f0f080;
            option{}
        }
    }
    .menu_m{
        display: none; 
        vertical-align: middle;
        p{}
        ul{
            display: none; 
            position: fixed; left: 0; top: 0;
            width: 100%; height: 20%;
            background-color: #fff;

            transform: translateY(-200%);
            transition: 1s;

            li{
                
                font-size: 2rem;
            }
            @include flex(center,center){

            }
           }
    }
    // &:hover{
    //     transition: 1s;
    //     transform: translateY(10rem);
    // }
    
} 
.header.active{
    transform: translateY(-100%);
}

.rotateO{
    width: 100%;
    position: relative;
    background:rgb(240, 240, 240) ;
    background-size: cover;
    height: 200vh;
    // @include flex(center,center){}
    text-align: center;
    color: black;
    .circle{
        color: white;
        /* background :url('../image/main_view/mainVisual.png') no-repeat;
        background-size: cover; */
        width: 100%;
        height: 100vh;
        position: fixed;
        background: #f0f0f0;
        left: 0;
        .bg_cp{     // bg,clip-path,width,height
            width: 100%;
            height:100%;
            position: absolute;
            left: 0;
            top: 0;
            clip-path: circle(400px at 50% 50%);
            @include flex(center,center){
            }
            background :url('../image/main_view/mainVisual.png') no-repeat;
        background-size: cover;
        }
        .center{  //txt
            mix-blend-mode: difference;
            color: white;
            font-size: 14.5rem;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height:100%;
            align-content: center;
            @include flex(center,center){
            }
           
            img{
                letter-spacing: 1rem;
                width: 11rem;
                margin: 0;
                animation: Oro 60s infinite;
                animation-delay: 0s;
                @keyframes Oro {
                    100%{rotate: 900deg;}
                }
            }
            b{
                width: 100%;
                font-size: 2rem;
                
            }

        }
        
    }
}

    
.slide100{
    position: relative;
    width: 100%; height: 100vh;
    
    background-size: 75% 100vh;
    //background-image: url('../image/main_view/ecover_bg.png'),url('../image/main_view/easy_bg.png');
    
    .b1{
        // overflow: hidden;
        position: absolute;
        width: 75%;
        height: 100%;
            .swiper-wrapper{
                display: flex;
                height: 100vh;
                margin:0 auto;
                position: absolute;
                left: 0;
                color: white;
                article{
                    width: 100%;
                    flex-shrink: 0;
                    height: 100%;
                    margin: 0rem;
                    color: white;
                    background: #d2d4e2 url('../image/main_view/health_bg.png')  no-repeat left;
                    // overflow: hidden;
                    background-size: cover;
                    .b2{
                        padding: 5rem 0 0 5rem;
                        h2{font-size: 1.5rem;margin-left: 40px;}
                        p{
                            img{
                                padding-top: 3rem;
                                filter: brightness(0) invert(1);
                            }
                            font-size: 1.1rem;margin-left: 40px;
                        }
                    }
                    
                    span{
                        margin-left: 6rem;
                        font-size:7rem;
                        margin-top: 13rem;
                        color: rgba(204, 204, 204,0.6);
                        @include flex(center,flex-start){}}
                }
            }
        article:nth-of-type(2){
            background:  url('../image/main_view/easy_bg.png') no-repeat left;
            background-size: cover;
        }
        article:nth-of-type(3){
            background: url('../image/main_view/ecover_bg.png') no-repeat left;
            background-size: cover;
        }
    }
    .a1{
        background-color: #d2d4e2;
        width: 25%;
        position: absolute;
        right: 0;
        height: 100%;
        
        .mySwiper2{
            height: 6rem;
            overflow: hidden;
            .a2{
                position: relative;
                padding-top: 4rem;
                height: 2rem;
                left: 50px;
                
                p{  } 
            }
            
        }
        hr{background: #283593; height:1px; border:0;
            transform: translateX(-8rem) ;
        }    
        color: #283593;       
        .mySwiper1{
            width: 100%;
            transform: translateY(75%);
            overflow: hidden;
            
        }
        .mySwiper3{
            position: absolute;
            bottom: 0; left: 50px;
            height: 10%;
            overflow: hidden;
            .a3{
                
                position: relative;
                @include flex(normal,flex-end){
                    flex-direction: column;
                    flex-wrap: nowrap;
                }
                p{
                    
                }
            } 
        }
        .mySwiper4{
            overflow: hidden;
            
            .a4{
                @include flex(center,flex-start){
                    flex-wrap: nowrap;
                }
                p{
                    img{
                        object-position: center;
                        object-fit: none;
                        width: 25vw;
                        height: 80vh;
                    }

                }
            }
        }
        .swpier-wrapper {
            transition-timing-function: linear;
          }   
    }
    //화살표
    .img_01{ 
        position: absolute;
        right: 25%;
        top: 50%;
        width: 1.5rem;
        img{
            padding: 1.5rem;
            border-radius: 5rem;
            background-color: #2F765F ;
            object-fit: cover;
        }
    }
}  
.EASY1{
    
    
    h2{
        display: block;
        font-size: 5rem;
        margin-left: 40px;
        font-weight: 1;
        margin: 7rem 0;
    }
    div{
        @include flex(center,space-between){
            flex-direction: row;
        }
        
        a{
            color: #000000;
            overflow: hidden;
            width: 20%;
                div{
                    transition: 0.5s;
                    border-radius: 0rem;
                    overflow: hidden;
                    img{
                        object-fit: cover;
                        transform: translateX(-200px);
                    }
                }
            hr{margin-top: 3rem; }
            p{
                font-size: 23px;
            }
        }
        a:hover{
                div{
                    transition: 0.5s ;
                    border-radius: 10rem; 
                    img{
                        
                         
                    }
            }
        }
        
    }
}
//공지사항
.public1{
    margin-top: 10rem;
    margin-bottom:10rem;
    h2{}
    hr{}
    ul{
        hr{
            border: dashed 1px ;
            width: 100%;
            color: gray;
        }
        li{
            
            overflow: hidden;
            .date{
                margin-right: 10rem;
            }
            a{
                color: black;
                position: relative;
                top: 0;
                margin: 1rem 0;
                padding: 1rem 0rem;
                @include flex(center,flex-start){
                    flex-direction: row;
                    overflow: hidden;
                }
            }
            a.lidown{
                
            }
            a::after{
                color: darkgray;
                content:'MORE+';
                position: absolute;
                right: 0;
                top: 1rem;
            }
            p{
                transition: .5s;
                display: none;
                margin: 2rem;
                margin-right: 3rem;
                margin-left: 14.5rem;
            }
        }
        li:hover{

            p{
                padding: 1px;
                display: block;
                transition: .5s;
            }
        }
    }
}
//보도자료
.bodo1{
    overflow: hidden;
    margin-top: 5rem;
    h2{
        display: block;
    }
    
    .bodo2{
        @include flex(flex-start,space-between){
            flex-direction: row;
            flex-wrap: nowrap;
        }
        span{
            @include flex(center,space-between){
                flex-direction: row;
                flex-shrink: 0;
            }
            width: 50%;
            hr{width: 90%; margin: 3rem 0;}
            figure{
                width: 90%;
                @include flex(center,flex-start){
                    flex-direction: row;
                    gap: 1rem;
                }
                img{width:25%; height:30vh;}
                figcaption{
                    width: 72%;
                    b{ font-size: 1.9rem;}
                    p{margin: 1rem 0;}
                    a{text-decoration: underline; color: gray;}
                }
            }
        }
    }
    .circle3{
        text-align: center;
        margin: 2rem 0 5rem 0;
        span{
            width: 0.5rem;
            height: 0.5rem;
            display: inline-block;
            border-radius: 50%;
            border: 1px solid #000;
            margin-right: 0.5rem;
        }
        span:hover{
            background-color: black;
        }
    }
}
footer{
    
    background-color: black;
    color: black;
    font-size: 15px;
    .footer1{
        @include flex(baseline,space-between){
            padding: 2rem 6rem 5rem;
        }
        figure{
            img{width: 13rem;}
            figcaption{padding-top: 10%;
                a{color: white;}
            }
        }
        nav{
            @include flex(flex-start,space-around){
                gap: 3rem;
            }
            ul{
                li:nth-of-type(1){
                    color: white;
                    margin: 1rem 0;
                    
                }
                li{
                    a{
                        color: white;
                    }
                    color: gray;
                }
                li:hover{
                    a{
                        color:#2F765F;
                    }
                }
            }
        }
        .ft_sel{
            
            background-color: #000000;
            select{
                padding: 0.5rem;
                appearance: none;
                vertical-align: middle;
                width: 15rem;
                height: 3rem;
                background: #1c1c1c url("../image/about_view/down_select.svg") no-repeat right center;
                border: 1px solid #1c1c1c;
                color: #Ffffff;
                option{
                    color: #Ffffff; 
                }
            }
            img{position: absolute; margin:0 1rem;}
        }
    }
    .footer2{
        @include flex(center,space-between){
        
        }
        padding:5rem;
        ul{
            li{
                a{color: white;}
            }
        }
        div{
            color: white;
            width: 25%;
            b{}
            p{}
        }
    }
}


@media (max-width:1280px) {
    html{
        font-size: 1vw;
        
    }
    body{
        
    }
    .header{
        font-size: 0.8rem;
        padding: 0 2rem;
        height: 8vh;
        .select_m{
            margin-left: auto;
            select{
                font-size: 12px;
                width: 5rem;
            }
        }
        ul{
            display: none;
        }
        .menu_m{
            display: block;
            font-size: 16px;
            margin-left: 1rem;
            ul{
                width: 100%;
                
            }
        }
        
        
    }
    .header:hover{
        z-index:1;
        .menu_m{
            display: block; 
            margin-left: 1rem;
            ul{
                display: block;

                transform: translateY(0%);
                transition: 1s;
                opacity: 1;
                z-index: -1;

                font-size: 3rem;
            @include flex(center,center){

            }
            }
        }
    }
    .rotateO{
        background-size: cover;
        p{
            font-size: 4rem;
            img{
                width: 3rem;
            }
        }
    }
    .slide100{
        background-size: 100% 100vh;
        //background-image: url('../image/main_view/ecover_bg.png'),url('../image/main_view/easy_bg.png');
        
        .b1{
            width: 100%;
            height: 100vh;
            position: static;
            article{
                .b2{
                    h2{margin-left: 0;  font-size: 30px;}
                    p{margin-left: 0; font-size: 20px;}
                }
                
                span{
                    margin-left: 5rem; 
                    padding-bottom: 5rem;
                    font-size: 80px;
                    margin-top: 65vh;
                    }
            }
        }
        .a1{
            position: absolute;
            width: 100%;
            height: 50rem;
            background-color: rgb(210, 212, 226);
            .mySwiper2{
                .a2{
                    padding-top: 0rem;
                    p{padding: 3rem 0 0 3rem; font-size: 2rem;} 
                }             
            }
            hr{
                width:90%;
                transform: translateX(0rem);
            } 
            .mySwiper1{
                transform: translateY(0);
                .a4{
                    // @include flex(center,flex-start){
                    //     flex-wrap: nowrap;
                    // }
                    // position: static;
                    figure{
                        // width: 100%;
                        img{
                            padding:  3rem 1.5rem ;
                            width: 20rem;
                        }

                    }
                }

            } 
            .mySwiper3{
                .a3{
                    @include flex(center,flex-end){}
                    position: static;
                    p{padding: 1.5rem;
                        
                    }
                }    
            } 
            .mySwiper4{
                overflow: hidden;
                
                .a4{
                    @include flex(center,flex-start){
                        flex-wrap: nowrap;
                    }
                    p{
                        img{object-position: center;
                            object-fit: none;
                            width: 100vw;
                            height: 40vh;
                        }
    
                    }
                }
            } 
        }
        //화살표
        .img_01{ 
            right: auto;
            top: auto;
            width: 100%;
            transform: translate(50%, -50%);
            img{
                padding: 1.5rem;
                border-radius: 5rem;
                background-color: #2F765F ;
                object-fit: cover;
            }
        }
    }
    .EASY1{
        width: auto;
        height: auto;
        
        h2{
            width: 100%;
            margin-top: 50rem;
        }
        div{
            justify-content: space-between;
            a{
                width: 40%;
                    div{
                        
                        img{
                            transform: none;
                        }
                    }
                hr{margin-top: 1rem; }
                p{
                    font-size: 23px;
                    margin-bottom: 2rem;
                }
            }
            a:hover{
                    div{
                        transition: 0.5s ;
                        border-radius: 10rem; 
                        img{
                            
                             
                        }
                }
            }
            
        }
    }
    .bodo1{
        width: 100%;
        margin-top: 5rem;
        margin-bottom: 5rem;
        h2{
            display: block;
        }
        
        .bodo2{
            
            margin-top: 0;
            @include flex(flex-start,space-between){
                flex-direction: row;
                flex-wrap: nowrap;
            }
            span{
                @include flex(center,center){
                    flex-direction: row;
                    
                }
                width: 45%;
                hr{width: 100%; margin: 3rem 0;}
                figure{
                    @include flex(center,flex-start){
                        flex-direction: row;
                        gap: 1rem;
                    }
                    img{width:100%; height:30vh;}
                    figcaption{
                        width: 100%;
                        b{ font-size: 2rem;}
                        p{margin: 1rem 0;}
                        a{text-decoration: underline; color:#d2d4e2; }
                    }
                }
            }
        }
        .circle3{
            text-align: center;
            margin: 2rem 0 5rem 0;
            span{
                width: 0.5rem;
                height: 0.5rem;
                display: inline-block;
                border-radius: 50%;
                border: 1px solid #000;
    
            }
        }
    }
    footer{
        position: relative;
        height: 45vh;
        .footer1{
            figure{
                a{
                    img{

                    }
                    figcaption{
                        a{

                        }
                    }
                }
            }
            nav{
                display: none;
            }
            .ft_sel{
                select{
                    position: absolute;
                    left: 5rem;bottom: 20px;
                    width: 88rem;
                    height: 5rem;
                }
                img{
                    right: 4rem;
                    top: 2rem;
                    // right: 0rem;
                    // top: -3rem;
                }
            }
        }
        .footer2{
            padding-bottom: 0px;
            padding-top: 0px;
            ul{
                display: none;
            }
            div{
                font-size: 1rem;
                b{
                    font-size: 1.3rem;
                }
                p{
                    margin-top: 1rem;
                    color: gray;
                }
            }
        }
    }
}
/* 750~1280 */
@media(max-width:859px){
    h2{
        font-size: 4rem;
    }
    html{
        font-size: 1vw;
    }
    .header{
        font-size: 0.8rem;
        padding: 0 2rem;
    }
    .rotateO{
        background-size: cover;
        p{
            font-size: 10rem;
            img{
                width: 8rem;
            }
        }
    }
    .slide100{
        .b1{
            article{
                .b2{
                    margin-top: 5rem;
                    h2{
                        font-size: 30px;
                    }
                    p{
                        font-size: 20px;
                    }
                }
                span{
                    font-size: 50px;
                    margin-top: 70vh;
                }
            }
        }
        .img_01{ 
            display: none;
            position: static;
            
            width: 1.5rem;
            img{
                padding: 1.5rem;
                border-radius: 5rem;
                background-color: #2F765F ;
                object-fit: cover;
            }
        }
    }
    .EASY1{
        width: 80%;
        height: 100%;
        
        h2{
            width: 100%;
            font-size: 4rem;
        }
        div{
            a{
                width: 100%;
                
                    div{
                        
                        img{
                            height: 70vh;
                        }
                    }
                hr{margin-top: 1rem; }
                p{
                    font-size: 23px;
                    margin-bottom: 2rem;
                }
            }
            a:hover{
                    div{
                        transition: 0.5s ;
                        border-radius: 10rem; 
                        img{
                            
                             
                        }
                }
            }
            
        }
    }
    //공지사항
    .public1{
        margin-top: 1rem;
        ul{
            
            a{
                
                li{
                    
                    gap: 1rem;
                    text-align: center;
                    @include flex(center,space-between){
                        flex-direction: column;
                    }
                }
                
            }
            
        }
    }
    .bodo1{
        margin-top: 5rem;
        margin-bottom:5rem;
        h2{
            display: block;
        }
        
        .bodo2{
            
            @include flex(flex-start,space-between){
                flex-direction: row;
                
            }
            span{
                @include flex(center,space-between){
                    flex-direction: row;
                    
                }
                width: 45%;
                hr{width: 100%; margin: 3rem 0;}
                figure{
                    @include flex(center,flex-start){
                        flex-direction: row;
                        gap: 1rem;
                    }
                    img{width:100%; height:30vh;}
                    figcaption{
                        width: 100%;
                        b{ font-size: 1.7rem;}
                        p{margin: 1rem 0;}
                        a{text-decoration: underline; color:#d2d4e2; }
                    }
                }
            }
        }
        .circle3{
            text-align: center;
            margin: 2rem 0 5rem 0;
            span{
                width: 0.5rem;
                height: 0.5rem;
                display: inline-block;
                border-radius: 50%;
                border: 1px solid #000;

            }
        }
    }
    footer{
        position: relative;
        height: 45vh;
        .footer1{
            figure{
                a{
                    img{

                    }
                    figcaption{
                        a{

                        }
                    }
                }
            }
            nav{
                display: none;
            }
            .ft_sel{
                select{
                    position: absolute;
                    left: 5rem;bottom: 20px;
                    width: 88rem;
                    height: 5rem;
                }
                img{
                    right: 4rem;
                    top: 2rem;
                    // right: 0rem;
                    // top: -3rem;
                }
            }
        }
        .footer2{
            ul{
                display: none;
            }
            div{
                font-size: 1rem;
                b{
                    font-size: 1.3rem;
                }
                p{
                    margin-top: 1rem;
                    color: gray;
                }
            }
        }
    }
}