@import url("./basic.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
html {
  font-size: 1vw;
}

body {
  margin: 0 auto;
  width: 100%;
}

article {
  margin: 0 5rem;
}

.header {
  background-color: rgba(240, 240, 240, 0.8);
  color: black;
  width: 100%;
  height: 7rem;
  font-size: 1rem;
  padding: 0 5rem;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1rem;
  margin: 0 auto;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transition: 1s;
  transition: 1s;
}
.header ul {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 5rem;
  gap: 3rem;
  padding: 0 1rem;
}
.header ul li a {
  color: #000000;
  font-weight: bold;
}
.header ul li a:hover {
  color: #2F765F;
}
.header div select {
  vertical-align: middle;
  width: 3rem;
  height: 35px;
  background: rgba(240, 240, 240, 0.5019607843);
  color: #000000;
  border: 1px solid rgba(240, 240, 240, 0.5019607843);
}
.header .menu_m {
  display: none;
  vertical-align: middle;
}
.header .menu_m ul {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 20%;
  background-color: #fff;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .menu_m ul li {
  font-size: 2rem;
}

.header.active {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.rotateO {
  width: 100%;
  position: relative;
  background: rgb(240, 240, 240);
  background-size: cover;
  height: 200vh;
  text-align: center;
  color: black;
}
.rotateO .circle {
  color: white;
  /* background :url('../image/main_view/mainVisual.png') no-repeat;
  background-size: cover; */
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #f0f0f0;
  left: 0;
}
.rotateO .circle .bg_cp {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-clip-path: circle(400px at 50% 50%);
          clip-path: circle(400px at 50% 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../image/main_view/mainVisual.png") no-repeat;
  background-size: cover;
}
.rotateO .circle .center {
  mix-blend-mode: difference;
  color: white;
  font-size: 14.5rem;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.rotateO .circle .center img {
  letter-spacing: 1rem;
  width: 11rem;
  margin: 0;
  -webkit-animation: Oro 60s infinite;
          animation: Oro 60s infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
@-webkit-keyframes Oro {
  100% {
    rotate: 900deg;
  }
}
@keyframes Oro {
  100% {
    rotate: 900deg;
  }
}
.rotateO .circle .center b {
  width: 100%;
  font-size: 2rem;
}

.slide100 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: 75% 100vh;
}
.slide100 .b1 {
  position: absolute;
  width: 75%;
  height: 100%;
}
.slide100 .b1 .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  margin: 0 auto;
  position: absolute;
  left: 0;
  color: white;
}
.slide100 .b1 .swiper-wrapper article {
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
  margin: 0rem;
  color: white;
  background: #d2d4e2 url("../image/main_view/health_bg.png") no-repeat left;
  background-size: cover;
}
.slide100 .b1 .swiper-wrapper article .b2 {
  padding: 5rem 0 0 5rem;
}
.slide100 .b1 .swiper-wrapper article .b2 h2 {
  font-size: 1.5rem;
  margin-left: 40px;
}
.slide100 .b1 .swiper-wrapper article .b2 p {
  font-size: 1.1rem;
  margin-left: 40px;
}
.slide100 .b1 .swiper-wrapper article .b2 p img {
  padding-top: 3rem;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
.slide100 .b1 .swiper-wrapper article span {
  margin-left: 6rem;
  font-size: 7rem;
  margin-top: 13rem;
  color: rgba(204, 204, 204, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.slide100 .b1 article:nth-of-type(2) {
  background: url("../image/main_view/easy_bg.png") no-repeat left;
  background-size: cover;
}
.slide100 .b1 article:nth-of-type(3) {
  background: url("../image/main_view/ecover_bg.png") no-repeat left;
  background-size: cover;
}
.slide100 .a1 {
  background-color: #d2d4e2;
  width: 25%;
  position: absolute;
  right: 0;
  height: 100%;
  color: #283593;
}
.slide100 .a1 .mySwiper2 {
  height: 6rem;
  overflow: hidden;
}
.slide100 .a1 .mySwiper2 .a2 {
  position: relative;
  padding-top: 4rem;
  height: 2rem;
  left: 50px;
}
.slide100 .a1 hr {
  background: #283593;
  height: 1px;
  border: 0;
  -webkit-transform: translateX(-8rem);
          transform: translateX(-8rem);
}
.slide100 .a1 .mySwiper1 {
  width: 100%;
  -webkit-transform: translateY(75%);
          transform: translateY(75%);
  overflow: hidden;
}
.slide100 .a1 .mySwiper3 {
  position: absolute;
  bottom: 0;
  left: 50px;
  height: 10%;
  overflow: hidden;
}
.slide100 .a1 .mySwiper3 .a3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.slide100 .a1 .mySwiper4 {
  overflow: hidden;
}
.slide100 .a1 .mySwiper4 .a4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.slide100 .a1 .mySwiper4 .a4 p img {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: none;
     object-fit: none;
  width: 25vw;
  height: 80vh;
}
.slide100 .a1 .swpier-wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.slide100 .img_01 {
  position: absolute;
  right: 25%;
  top: 50%;
  width: 1.5rem;
}
.slide100 .img_01 img {
  padding: 1.5rem;
  border-radius: 5rem;
  background-color: #2F765F;
  -o-object-fit: cover;
     object-fit: cover;
}

.EASY1 h2 {
  display: block;
  font-size: 5rem;
  margin-left: 40px;
  font-weight: 1;
  margin: 7rem 0;
}
.EASY1 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.EASY1 div a {
  color: #000000;
  overflow: hidden;
  width: 20%;
}
.EASY1 div a div {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 0rem;
  overflow: hidden;
}
.EASY1 div a div img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}
.EASY1 div a hr {
  margin-top: 3rem;
}
.EASY1 div a p {
  font-size: 23px;
}
.EASY1 div a:hover div {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 10rem;
}
.public1 {
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.public1 ul hr {
  border: dashed 1px;
  width: 100%;
  color: gray;
}
.public1 ul li {
  overflow: hidden;
}
.public1 ul li .date {
  margin-right: 10rem;
}
.public1 ul li a {
  color: black;
  position: relative;
  top: 0;
  margin: 1rem 0;
  padding: 1rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
}
.public1 ul li a::after {
  color: darkgray;
  content: "MORE+";
  position: absolute;
  right: 0;
  top: 1rem;
}
.public1 ul li p {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: none;
  margin: 2rem;
  margin-right: 3rem;
  margin-left: 14.5rem;
}
.public1 ul li:hover p {
  padding: 1px;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bodo1 {
  overflow: hidden;
  margin-top: 5rem;
}
.bodo1 h2 {
  display: block;
}
.bodo1 .bodo2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.bodo1 .bodo2 span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50%;
}
.bodo1 .bodo2 span hr {
  width: 90%;
  margin: 3rem 0;
}
.bodo1 .bodo2 span figure {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}
.bodo1 .bodo2 span figure img {
  width: 25%;
  height: 30vh;
}
.bodo1 .bodo2 span figure figcaption {
  width: 72%;
}
.bodo1 .bodo2 span figure figcaption b {
  font-size: 1.9rem;
}
.bodo1 .bodo2 span figure figcaption p {
  margin: 1rem 0;
}
.bodo1 .bodo2 span figure figcaption a {
  text-decoration: underline;
  color: gray;
}
.bodo1 .circle3 {
  text-align: center;
  margin: 2rem 0 5rem 0;
}
.bodo1 .circle3 span {
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #000;
  margin-right: 0.5rem;
}
.bodo1 .circle3 span:hover {
  background-color: black;
}

footer {
  background-color: black;
  color: black;
  font-size: 15px;
}
footer .footer1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 6rem 5rem;
}
footer .footer1 figure img {
  width: 13rem;
}
footer .footer1 figure figcaption {
  padding-top: 10%;
}
footer .footer1 figure figcaption a {
  color: white;
}
footer .footer1 nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 3rem;
}
footer .footer1 nav ul li:nth-of-type(1) {
  color: white;
  margin: 1rem 0;
}
footer .footer1 nav ul li {
  color: gray;
}
footer .footer1 nav ul li a {
  color: white;
}
footer .footer1 nav ul li:hover a {
  color: #2F765F;
}
footer .footer1 .ft_sel {
  background-color: #000000;
}
footer .footer1 .ft_sel select {
  padding: 0.5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  vertical-align: middle;
  width: 15rem;
  height: 3rem;
  background: #1c1c1c url("../image/about_view/down_select.svg") no-repeat right center;
  border: 1px solid #1c1c1c;
  color: #Ffffff;
}
footer .footer1 .ft_sel select option {
  color: #Ffffff;
}
footer .footer1 .ft_sel img {
  position: absolute;
  margin: 0 1rem;
}
footer .footer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5rem;
}
footer .footer2 ul li a {
  color: white;
}
footer .footer2 div {
  color: white;
  width: 25%;
}
@media screen and (max-width: 1279px) {
  html {
    font-size: 1vw;
  }
  .header {
    font-size: 0.8rem;
    padding: 0 2rem;
    height: 8vh;
  }
  .header .select_m {
    margin-left: auto;
  }
  .header .select_m select {
    font-size: 12px;
    width: 5rem;
  }
  .header ul {
    display: none;
  }
  .header .menu_m {
    display: block;
    font-size: 16px;
    margin-left: 1rem;
  }
  .header .menu_m ul {
    width: 100%;
  }
  .header:hover {
    z-index: 1;
  }
  .header:hover .menu_m {
    display: block;
    margin-left: 1rem;
  }
  .header:hover .menu_m ul {
    display: block;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 1;
    z-index: -1;
    font-size: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rotateO {
    background-size: cover;
  }
  .rotateO p {
    font-size: 4rem;
  }
  .rotateO p img {
    width: 3rem;
  }
  .slide100 {
    background-size: 100% 100vh;
  }
  .slide100 .b1 {
    width: 100%;
    height: 100vh;
    position: static;
  }
  .slide100 .b1 article .b2 h2 {
    margin-left: 0;
    font-size: 30px;
  }
  .slide100 .b1 article .b2 p {
    margin-left: 0;
    font-size: 20px;
  }
  .slide100 .b1 article span {
    margin-left: 5rem;
    padding-bottom: 5rem;
    font-size: 80px;
    margin-top: 65vh;
  }
  .slide100 .a1 {
    position: absolute;
    width: 100%;
    height: 50rem;
    background-color: rgb(210, 212, 226);
  }
  .slide100 .a1 .mySwiper2 .a2 {
    padding-top: 0rem;
  }
  .slide100 .a1 .mySwiper2 .a2 p {
    padding: 3rem 0 0 3rem;
    font-size: 2.5rem;
  }
  .slide100 .a1 hr {
    width: 90%;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  .slide100 .a1 .mySwiper1 {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .slide100 .a1 .mySwiper1 .a4 figure img {
    padding: 3rem 1.5rem;
    width: 20rem;
  }
  .slide100 .a1 .mySwiper3 .a3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: static;
  }
  .slide100 .a1 .mySwiper3 .a3 p {
    padding: 1.5rem;
  }
  .slide100 .a1 .mySwiper4 {
    overflow: hidden;
  }
  .slide100 .a1 .mySwiper4 .a4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .slide100 .a1 .mySwiper4 .a4 p img {
    -o-object-position: center;
       object-position: center;
    -o-object-fit: none;
       object-fit: none;
    width: 100vw;
    height: 40vh;
  }
  .slide100 .img_01 {
    right: auto;
    top: auto;
    width: 100%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  .slide100 .img_01 img {
    padding: 1.5rem;
    border-radius: 5rem;
    background-color: #2F765F;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .EASY1 {
    width: auto;
    height: auto;
  }
  .EASY1 h2 {
    width: 100%;
    margin-top: 50rem;
  }
  .EASY1 div {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .EASY1 div a {
    width: 40%;
  }
  .EASY1 div a div img {
    -webkit-transform: none;
            transform: none;
  }
  .EASY1 div a hr {
    margin-top: 1rem;
  }
  .EASY1 div a p {
    font-size: 23px;
    margin-bottom: 2rem;
  }
  .EASY1 div a:hover div {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 10rem;
  }
  .bodo1 {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .bodo1 h2 {
    display: block;
  }
  .bodo1 .bodo2 {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .bodo1 .bodo2 span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 45%;
  }
  .bodo1 .bodo2 span hr {
    width: 100%;
    margin: 3rem 0;
  }
  .bodo1 .bodo2 span figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
  }
  .bodo1 .bodo2 span figure img {
    width: 100%;
    height: 30vh;
  }
  .bodo1 .bodo2 span figure figcaption {
    width: 100%;
  }
  .bodo1 .bodo2 span figure figcaption b {
    font-size: 2rem;
  }
  .bodo1 .bodo2 span figure figcaption p {
    margin: 1rem 0;
  }
  .bodo1 .bodo2 span figure figcaption a {
    text-decoration: underline;
    color: #d2d4e2;
  }
  .bodo1 .circle3 {
    text-align: center;
    margin: 2rem 0 5rem 0;
  }
  .bodo1 .circle3 span {
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #000;
  }
  footer {
    position: relative;
    height: 45vh;
  }
  footer .footer1 nav {
    display: none;
  }
  footer .footer1 .ft_sel select {
    position: absolute;
    left: 5rem;
    bottom: 20px;
    width: 88rem;
    height: 5rem;
  }
  footer .footer1 .ft_sel img {
    right: 4rem;
    top: 2rem;
  }
  footer .footer2 {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  footer .footer2 ul {
    display: none;
  }
  footer .footer2 div {
    font-size: 1rem;
  }
  footer .footer2 div b {
    font-size: 1.3rem;
  }
  footer .footer2 div p {
    margin-top: 1rem;
    color: gray;
  }
}
/* 750~1280 */
@media screen and (max-width: 768px) {
  h2 {
    font-size: 4rem;
  }
  html {
    font-size: 1vw;
  }
  .header {
    font-size: 0.8rem;
    padding: 0 2rem;
  }
  .rotateO {
    background-size: cover;
  }
  .rotateO p {
    font-size: 10rem;
  }
  .rotateO p img {
    width: 8rem;
  }
  .slide100 .b1 .swiper-wrapper article .b2 {
    margin-top: 5rem;
  }
  .slide100 .b1 .swiper-wrapper article .b2 h2 {
    font-size: 20px;
  }
  .slide100 .b1 .swiper-wrapper article .b2 p {
    font-size: 12px;
  }
  .slide100 .b1 .swiper-wrapper article span {
    font-size: 50px;
    margin-top: 70vh;
  }
  .slide100 .a1 {
    width: 100%;
    height: 50rem;
    background-color: rgb(210, 212, 226);
  }
  .slide100 .a1 .mySwiper2 .a2 {
    padding-top: 0rem;
  }
  .slide100 .a1 .mySwiper2 .a2 p {
    padding: 3rem 0 0 3rem;
    font-size: 2.7rem;
    font-weight: bold;
  }
  .slide100 .a1 hr {
    width: 90%;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
  .slide100 .a1 .mySwiper1 {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .slide100 .a1 .mySwiper1 .a4 figure img {
    padding: 3rem 1.5rem;
    width: 20rem;
  }
  .slide100 .a1 .mySwiper3 .a3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: static;
  }
  .slide100 .a1 .mySwiper3 .a3 p {
    padding: 1.5rem;
    font-size: 2rem;
  }
  .slide100 .a1 .mySwiper4 {
    overflow: hidden;
  }
  .slide100 .a1 .mySwiper4 .a4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .slide100 .a1 .mySwiper4 .a4 p img {
    -o-object-position: center;
       object-position: center;
    padding-top: 32px;
    -o-object-fit: contain;
       object-fit: contain;
    width: 100vw;
    height: 25vh;
  }
  .slide100 .img_01 {
    display: none;
    position: static;
    width: 1.5rem;
  }
  .slide100 .img_01 img {
    padding: 1.5rem;
    border-radius: 5rem;
    background-color: #2F765F;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .EASY1 {
    width: 80%;
    height: 100%;
    padding-top: 5rem;
  }
  .EASY1 h2 {
    width: 100%;
    font-size: 4rem;
    font-weight: 600;
  }
  .EASY1 div a {
    width: 45%;
  }
  .EASY1 div a div img {
    width: 100%;
  }
  .EASY1 div a hr {
    margin-top: 1rem;
  }
  .EASY1 div a p {
    font-size: 16px;
    margin-bottom: 2rem;
  }
  .EASY1 div a:hover div {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border-radius: 10rem;
  }
  .public1 {
    margin-top: 1rem;
    padding-top: 5rem;
  }
  .public1 ul {
    overflow: hidden;
  }
  .public1 ul a {
    text-overflow: ellipsis;
    font-size: 2rem;
  }
  .public1 ul a li {
    gap: 1rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bodo1 {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .bodo1 h2 {
    display: block;
  }
  .bodo1 .bodo2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .bodo1 .bodo2 span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
  }
  .bodo1 .bodo2 span hr {
    width: 100%;
    margin: 3rem 0;
  }
  .bodo1 .bodo2 span figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1rem;
  }
  .bodo1 .bodo2 span figure img {
    width: 100%;
    height: 30vh;
  }
  .bodo1 .bodo2 span figure figcaption {
    font-size: 2rem;
    width: 100%;
  }
  .bodo1 .bodo2 span figure figcaption b {
    font-size: 2.5rem;
  }
  .bodo1 .bodo2 span figure figcaption p {
    margin: 1rem 0;
  }
  .bodo1 .bodo2 span figure figcaption a {
    text-decoration: underline;
    color: #d2d4e2;
  }
  .bodo1 .circle3 {
    text-align: center;
    margin: 2rem 0 5rem 0;
  }
  .bodo1 .circle3 span {
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #000;
  }
  footer {
    position: relative;
    height: 45vh;
  }
  footer .footer1 nav {
    display: none;
  }
  footer .footer1 .ft_sel select {
    position: absolute;
    left: 5rem;
    bottom: 20px;
    width: 88rem;
    height: 5rem;
  }
  footer .footer1 .ft_sel img {
    right: 4rem;
    top: 2rem;
  }
  footer .footer2 ul {
    display: none;
  }
  footer .footer2 div {
    font-size: 1rem;
  }
  footer .footer2 div b {
    font-size: 1.3rem;
  }
  footer .footer2 div p {
    margin-top: 1rem;
    color: gray;
  }
}