@charset "UTF-8";
@import url("./basic.css");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
main {
  overflow: hidden;
}

.header {
  background-color: rgba(240, 240, 240, 0.8);
  color: black;
  width: 100%;
  height: 7rem;
  font-size: 1rem;
  padding: 0 5rem;
  z-index: 20;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 1rem;
  margin: 0 auto;
  position: fixed;
  left: 0;
  top: 0;
  transition: 1s;
}
.header ul {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 5rem;
  gap: 3rem;
  padding: 0 1rem;
}
.header ul li a {
  color: #000000;
  font-weight: bold;
}
.header div select {
  vertical-align: middle;
  width: 3rem;
  height: 35px;
  background: rgba(240, 240, 240, 0.5019607843);
  color: #000000;
  border: 1px solid rgba(240, 240, 240, 0.5019607843);
}
.header .menu_m {
  display: none;
  vertical-align: middle;
}
.header .menu_m ul {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 20%;
  background-color: #fff;
  transform: translateY(-200%);
  transition: 1s;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.header .menu_m ul li {
  font-size: 2rem;
}

.header.active {
  transform: translateY(-100%);
}

.main3 {
  width: 95%;
  height: auto;
}
.main3 .main3_bg {
  position: relative;
  margin: 0 5%;
  width: 95%;
  height: 35rem;
  border-radius: 5rem;
  background-color: #2F765F;
  overflow: hidden;
  margin-top: 10rem;
}
.main3 .main3_bg .img_bg {
  width: 45%;
  height: 35rem;
  background: url("../image/Industries_view/easyrental_visual2.png") no-repeat left;
  background-size: 100% 100%;
  border-radius: 5rem;
  animation: Imgbg 3s;
}
@keyframes Imgbg {
  0% {
    width: 100%;
  }
  100% {
    width: 45%;
  }
}
.main3 .main3_bg .txt {
  animation: txtup 3s 2s forwards;
}
@keyframes txtup {
  0% {
    position: absolute;
    left: 50%;
    bottom: 20%;
    display: block;
    transform: translateY(100%);
    color: #2F765F;
  }
  100% {
    position: absolute;
    left: 50%;
    bottom: 20%;
    display: block;
    transform: translateY(0%);
    color: white;
  }
}
.main3 .main3_ex {
  position: relative;
  margin: 10% 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.main3 .main3_ex .main3_ex1 {
  width: 40%;
}
.main3 .main3_ex .main3_ex1 h2 {
  font-weight: 500;
  font-size: 1.8rem;
}
.main3 .main3_ex .main3_ex1 p {
  margin-top: 2rem;
}
.main3 .main3_ex .main3_ex1::before {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #fbc600;
  position: absolute;
  top: -2.5rem;
  left: -1rem;
}
.main3 .main3_ex img {
  width: 40%;
  position: absolute;
  right: 0;
}

ol {
  padding-left: 0;
}
ol li {
  background-color: #FAFAFA;
  width: 100%;
  height: auto;
}
ol li .box1 {
  border: 1px solid #000000;
  border-width: 0px 0px 2px 0px;
  padding: 1.5rem;
  margin-top: 0;
  margin: 0 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
ol li .box1 .box_txt {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10rem;
}
ol li .box1::after {
  content: "↓";
}
ol li .main3_Pli {
  position: relative;
  background-color: #FAFAFA;
  width: 100%;
  height: 100vh;
}
ol li .main3_Pli .main3_Plf {
  position: absolute;
  left: 5%;
  top: 10%;
  width: 50%;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
ol li .main3_Pli .main3_Plf .main3_Plf_top {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
ol li .main3_Pli .main3_Plf .main3_Plf_top .main3_p {
  margin: 0 0 2rem 0;
}
ol li .main3_Pli .main3_Plf .main3_Plf_top .main3_p h1 {
  font-size: 3.5rem;
}
ol li .main3_Pli .main3_Plf .main3_Plf_top .hr b {
  font-size: 2rem;
}
ol li .main3_Pli .main3_Plf .main3_Plf_top .hr hr {
  margin: 0.5rem 0;
  width: 40%;
}
ol li .main3_Pli .main3_Plf .main3_Plf_top ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
ol li .main3_Pli .main3_Plf .main3_Plf_top ul li a {
  color: #a1a1a1;
  font-size: 0.9rem;
}
ol li .main3_Pli .main3_Plf .main3_Plf_bt {
  position: absolute;
  bottom: 0;
  left: 0;
}
ol li .main3_Pli .main3_Plf .main3_Plf_bt b {
  font-size: 1.2rem;
}
ol li .main3_Pli .main3_Plf .main3_Plf_bt ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
ol li .main3_Pli .main3_Plf .main3_Plf_bt ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
ol li .main3_Pli .main3_Plf .main3_Plf_bt ul li img {
  width: 90%;
  margin: 1rem 0;
}
ol li .main3_Pli .main3_Prg {
  position: absolute;
  right: 5%;
  top: 10%;
  width: 40%;
  height: 80vh;
}
ol li .main3_Pli .main3_Prg .main3_Prg_top {
  position: absolute;
  top: 13%;
  right: 0;
}
ol li .main3_Pli .main3_Prg .main3_Prg_top h2 {
  width: 100%;
}
ol li .main3_Pli .main3_Prg .main3_Prg_top::before {
  content: "/ 운영제품군";
  position: absolute;
  top: -100%;
  right: 0;
  font-size: 1.6rem;
  color: #2F765F;
  font-weight: bold;
}
ol li .main3_Pli .main3_Prg .main3_Prg_bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}
ol li .main3_Pli .main3_Prg .main3_Prg_bottom img {
  width: 100%;
}
ol li .main3_Pli .main3_Prg .main3_Prg_bottom span a {
  position: absolute;
  bottom: -5%;
  right: 0;
  width: 1.5rem;
  height: 1rem;
  transform: rotate(90deg);
  background-image: url("../image/Industries_view/arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
ol li .main3_Pli.off {
  display: none;
  transition: 1s;
}
ol li .main3_Pli.on {
  display: block;
}

.OSRS {
  width: 100%;
  height: auto;
}
.OSRS div {
  margin: 5rem;
  font-size: 4.5rem;
  color: #2F765F;
  text-align: center;
  animation: smallOSRS 5s;
}
@keyframes smallOSRS {
  0% {
    letter-spacing: 1rem;
  }
  100% {
    letter-spacing: 0rem;
  }
}
.OSRS img {
  width: 100%;
  animation: imgwidth 5s;
}
@keyframes imgwidth {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.Rental_Guide {
  width: 100%;
  height: 70vh;
  margin: 5rem;
}
.Rental_Guide .RG_1 {
  width: 100%;
}
.Rental_Guide .RG_1 h2 {
  font-size: 2rem;
}
.Rental_Guide .RG_1 hr {
  width: 13%;
  margin-left: 0;
  border-color: #000000;
}
.Rental_Guide .RG_1 p {
  font-size: 1.8rem;
  width: 30%;
  margin-top: 2rem;
}
.Rental_Guide .RG_2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.Rental_Guide .RG_2 ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.Rental_Guide .RG_2 ul li::before {
  background-color: #FFF;
  color: #2F765F;
  position: absolute;
  left: 50%;
  top: 2rem;
  transform: translateX(-50%);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  line-height: 4rem;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
}
.Rental_Guide .RG_2 ul .RG_cc1::before {
  content: "01";
}
.Rental_Guide .RG_2 ul .RG_cc2::before {
  content: "02";
}
.Rental_Guide .RG_2 ul .RG_cc3::before {
  content: "03";
}
.Rental_Guide .RG_2 ul .RG_cc4::before {
  content: "04";
}
.Rental_Guide .RG_2 ul .RG_cc1, .Rental_Guide .RG_2 ul .RG_cc2, .Rental_Guide .RG_2 ul .RG_cc3, .Rental_Guide .RG_2 ul .RG_cc4 {
  padding: 2rem;
  margin-left: -2rem;
  border: #000000 1px solid;
  border-radius: 50rem;
  width: 20rem;
  height: 20rem;
  position: relative;
  background-color: #2F765F;
  color: #FFF;
}
.Rental_Guide .RG_2 ul .RG_cc1 div h3, .Rental_Guide .RG_2 ul .RG_cc2 div h3, .Rental_Guide .RG_2 ul .RG_cc3 div h3, .Rental_Guide .RG_2 ul .RG_cc4 div h3 {
  text-align: center;
}
.Rental_Guide .RG_2 ul .RG_cc1 div p, .Rental_Guide .RG_2 ul .RG_cc2 div p, .Rental_Guide .RG_2 ul .RG_cc3 div p, .Rental_Guide .RG_2 ul .RG_cc4 div p {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 7rem;
}
.Rental_Guide .RG_2 ul .RG_cc1 .RG_ccp, .Rental_Guide .RG_2 ul .RG_cc2 .RG_ccp, .Rental_Guide .RG_2 ul .RG_cc3 .RG_ccp, .Rental_Guide .RG_2 ul .RG_cc4 .RG_ccp {
  display: none;
  color: #000000;
}
.Rental_Guide .RG_2 ul .RG_cc1 .RG_ccp::after, .Rental_Guide .RG_2 ul .RG_cc2 .RG_ccp::after, .Rental_Guide .RG_2 ul .RG_cc3 .RG_ccp::after, .Rental_Guide .RG_2 ul .RG_cc4 .RG_ccp::after {
  background-image: url("../image/Industries_view/arrow.svg");
  rotate: 90deg;
}
.Rental_Guide .RG_2 ul .RG_cc1 .RG_ccp {
  transform: translate(20rem, -3rem);
  display: inline-block;
  margin-right: 1rem;
  display: block;
}

.Rental_Features {
  width: 100%;
  height: 100%;
  margin: 5rem;
}
.Rental_Features .RG_1 {
  width: 100%;
}
.Rental_Features .RG_1 h2 {
  font-size: 2rem;
}
.Rental_Features .RG_1 hr {
  width: 13%;
  margin-left: 0;
  border-color: #000000;
  margin-bottom: 5rem;
}
.Rental_Features .ul_group {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: normal;
  flex-direction: row;
}
.Rental_Features .ul_group .ul_list1, .Rental_Features .ul_group .ul_list2, .Rental_Features .ul_group .ul_list3, .Rental_Features .ul_group .ul_list4, .Rental_Features .ul_group .ul_list5 {
  transition: 1s;
  position: relative;
  opacity: 0.5;
  left: 1200px;
  width: 19%;
  margin-right: -300px;
}
.Rental_Features .ul_group .ul_list1 .list1, .Rental_Features .ul_group .ul_list2 .list1, .Rental_Features .ul_group .ul_list3 .list1, .Rental_Features .ul_group .ul_list4 .list1, .Rental_Features .ul_group .ul_list5 .list1 {
  width: 100%;
  height: 50vh;
  padding: 3rem;
  color: #FFF;
  border-radius: 0px 90px 45px 45px;
}
.Rental_Features .ul_group .ul_list1 .list1 span, .Rental_Features .ul_group .ul_list2 .list1 span, .Rental_Features .ul_group .ul_list3 .list1 span, .Rental_Features .ul_group .ul_list4 .list1 span, .Rental_Features .ul_group .ul_list5 .list1 span {
  margin: 0;
  font-size: 1.3rem;
}
.Rental_Features .ul_group .ul_list1 .list1 > ul, .Rental_Features .ul_group .ul_list2 .list1 > ul, .Rental_Features .ul_group .ul_list3 .list1 > ul, .Rental_Features .ul_group .ul_list4 .list1 > ul, .Rental_Features .ul_group .ul_list5 .list1 > ul {
  margin-top: 3rem;
}
.Rental_Features .ul_group .ul_list1 .list1 > ul > li, .Rental_Features .ul_group .ul_list2 .list1 > ul > li, .Rental_Features .ul_group .ul_list3 .list1 > ul > li, .Rental_Features .ul_group .ul_list4 .list1 > ul > li, .Rental_Features .ul_group .ul_list5 .list1 > ul > li {
  list-style-type: disc;
  color: #FFF;
  font-size: 0.8rem;
  margin-left: 1rem;
}
.Rental_Features .ul_group .ul_list1 .list1::before, .Rental_Features .ul_group .ul_list2 .list1::before, .Rental_Features .ul_group .ul_list3 .list1::before, .Rental_Features .ul_group .ul_list4 .list1::before, .Rental_Features .ul_group .ul_list5 .list1::before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  left: 1rem;
  top: 1rem;
}
.Rental_Features .ul_group .ul_list1 {
  background-color: #245847;
  border-radius: 0px 90px 45px 45px;
  z-index: 5;
  background-image: url("../image/Industries_view/easyrental_feature1.svg");
  background-position: right 2rem bottom 2rem;
  background-repeat: no-repeat;
  background-size: 10%;
}
.Rental_Features .ul_group .ul_list2 {
  background-color: #2F765F;
  border-radius: 0px 90px 45px 45px;
  z-index: 4;
  background-image: url("../image/Industries_view/easyrental_feature2.svg");
  background-position: right 2rem bottom 2rem;
  background-repeat: no-repeat;
  background-size: 10%;
}
.Rental_Features .ul_group .ul_list3 {
  background-color: #408670;
  border-radius: 0px 90px 45px 45px;
  z-index: 3;
  background-image: url("../image/Industries_view/easyrental_feature3.svg");
  background-position: right 2rem bottom 2rem;
  background-repeat: no-repeat;
  background-size: 8%;
}
.Rental_Features .ul_group .ul_list4 {
  background-color: #4F9880;
  border-radius: 0px 90px 45px 45px;
  z-index: 2;
  background-image: url("../image/Industries_view/easyrental_feature4.svg");
  background-position: right 2rem bottom 2rem;
  background-repeat: no-repeat;
  background-size: 10%;
}
.Rental_Features .ul_group .ul_list5 {
  background-color: #5CA990;
  border-radius: 0px 90px 45px 45px;
  z-index: 1;
  background-image: url("../image/Industries_view/easyrental_feature5.svg");
  background-position: right 2rem bottom 2rem;
  background-repeat: no-repeat;
  background-size: 10%;
}
.Rental_Features .aos-animate > .ul_list1 {
  opacity: 1;
  margin-left: -1200px;
}
.Rental_Features .aos-animate > .ul_list2 {
  opacity: 1;
  margin-left: 280px;
}
.Rental_Features .aos-animate > .ul_list3 {
  opacity: 1;
  margin-left: 280px;
}
.Rental_Features .aos-animate > .ul_list4 {
  opacity: 1;
  margin-left: 280px;
}
.Rental_Features .aos-animate > .ul_list5 {
  opacity: 1;
  margin-left: 280px;
}

.more {
  width: 100%;
  height: 80vh;
  margin: 5rem;
}
.more .RG_1 {
  width: 100%;
}
.more .RG_1 h2 {
  font-size: 2rem;
}
.more .RG_1 hr {
  width: 13%;
  margin-left: 0;
  border-color: #000000;
}
.more .more_1 {
  margin-top: 3rem;
  width: 90%;
}
.more .more_1 li {
  padding: 2.5rem;
  background-color: #f2f2f2;
  margin-bottom: 2rem;
}
.more .more_1 li a {
  font-size: 1.5rem;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.more .more_1 li a::after {
  content: "";
  width: 10rem;
  height: 10rem;
  background-image: url(../image/Industries_view/arrow.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1rem;
}

footer {
  background-color: black;
  color: black;
  font-size: 15px;
}
footer .footer1 {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  padding: 2rem 6rem 5rem;
}
footer .footer1 figure a img {
  width: 13rem;
}
footer .footer1 figure figcaption {
  padding-top: 10%;
}
footer .footer1 figure figcaption a {
  color: white;
}
footer .footer1 nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  gap: 3rem;
}
footer .footer1 nav ul li:nth-of-type(1) {
  color: white;
  margin: 1rem 0;
}
footer .footer1 nav ul li {
  color: gray;
}
footer .footer1 nav ul li a {
  color: #Ffffff;
}
footer .footer1 .ft_sel {
  background-color: #000000;
}
footer .footer1 .ft_sel select {
  padding: 0.5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  vertical-align: middle;
  width: 15rem;
  height: 3rem;
  background: #1c1c1c url("../image/about_view/down_select.svg") no-repeat right center;
  border: 1px solid #1c1c1c;
  color: #Ffffff;
}
footer .footer1 .ft_sel select option {
  color: #Ffffff;
}
footer .footer1 .ft_sel a img {
  position: absolute;
  margin: 0 1rem;
}
footer .footer2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
}
footer .footer2 ul li a {
  color: white;
}
footer .footer2 div {
  color: white;
  width: 25%;
}
@media (max-width: 1280px) {
  html {
    font-size: 1vw;
  }
  main {
    overflow: hidden;
  }
  .header {
    font-size: 0.8rem;
    padding: 0 2rem;
    height: 8vh;
  }
  .header .select_m {
    margin-left: auto;
  }
  .header .select_m select {
    font-size: 12px;
    width: 5rem;
  }
  .header ul {
    display: none;
  }
  .header .menu_m {
    display: block;
    font-size: 16px;
    margin-left: 1rem;
  }
  .header .menu_m ul {
    width: 100%;
  }
  .header:hover {
    z-index: 1;
  }
  .header:hover .menu_m {
    display: block;
    margin-left: 1rem;
  }
  .header:hover .menu_m ul {
    display: block;
    transform: translateY(0%);
    transition: 1s;
    opacity: 1;
    z-index: -1;
    font-size: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .main3 {
    height: 100%;
  }
  ol li .main3_Pli .main3_Plf {
    position: static;
    height: 30vh;
  }
  ol li .main3_Pli .main3_Plf .main3_Plf_top {
    margin: 2rem;
  }
  ol li .main3_Pli .main3_Plf .main3_Plf_bt {
    margin-left: 2rem;
  }
  ol li .main3_Pli .main3_Plf .main3_Plf_bt ul {
    flex-wrap: nowrap;
  }
  ol li .main3_Pli .main3_Prg {
    position: static;
  }
  ol li .main3_Pli .main3_Prg .main3_Prg_top {
    left: 0;
  }
  ol li .main3_Pli .main3_Prg .main3_Prg_top h2 {
    margin-left: 2rem;
    margin-top: 6rem;
  }
  ol li .main3_Pli .main3_Prg .main3_Prg_bottom {
    margin-top: 1.5rem;
    width: 70vh;
    position: static;
  }
  ol li .main3_Pli .main3_Prg .main3_Prg_bottom img {
    transform: translateX(50%);
  }
  ol li .main3_Pli .main3_Prg .main3_Prg_top::before {
    top: -90%;
  }
  .OSRS {
    height: 80vh;
  }
  .OSRS img {
    height: 60vh;
  }
  .Rental_Guide {
    width: auto;
    height: auto;
    margin: 8rem 2rem 0 5rem;
  }
  .Rental_Guide .RG_1 p {
    font-size: 1.5rem;
    width: 100%;
  }
  .Rental_Guide .RG_2 {
    margin-left: -5rem;
  }
  .Rental_Guide .RG_2 ul {
    margin-left: 10rem;
    flex-wrap: nowrap;
  }
  .Rental_Guide .RG_2 ul .RG_cc1, .Rental_Guide .RG_2 ul .RG_cc2, .Rental_Guide .RG_2 ul .RG_cc3, .Rental_Guide .RG_2 ul .RG_cc4, .Rental_Guide .RG_2 ul .RG_cc5 {
    width: 25rem;
    height: 25rem;
  }
  .Rental_Guide .RG_2 ul .RG_cc1 .RG_ccp {
    transform: translate(24rem, -10rem);
    font-size: 0.5rem;
  }
  .Rental_Features {
    width: auto;
    height: auto;
    margin: 8rem 2rem 0 5rem;
  }
  .Rental_Features .RG_1 p {
    font-size: 1.5rem;
    width: 100%;
  }
  .Rental_Features .ul_group {
    width: 100%;
    justify-content: space-around;
  }
  .Rental_Features .ul_group .ul_list1, .Rental_Features .ul_group .ul_list2, .Rental_Features .ul_group .ul_list3, .Rental_Features .ul_group .ul_list4, .Rental_Features .ul_group .ul_list5 {
    left: 0px;
    margin: 0;
  }
  .Rental_Features .ul_group .ul_list1 .list1 > ul > li, .Rental_Features .ul_group .ul_list2 .list1 > ul > li, .Rental_Features .ul_group .ul_list3 .list1 > ul > li, .Rental_Features .ul_group .ul_list4 .list1 > ul > li, .Rental_Features .ul_group .ul_list5 .list1 > ul > li {
    font-size: 1.3rem;
  }
  .Rental_Features .ul_group .ul_list1:hover, .Rental_Features .ul_group .ul_list2:hover, .Rental_Features .ul_group .ul_list3:hover, .Rental_Features .ul_group .ul_list4:hover, .Rental_Features .ul_group .ul_list5:hover {
    width: 24%;
    z-index: 99;
  }
  .Rental_Features .ul_group .ul_list1:hover .list1 > ul > li, .Rental_Features .ul_group .ul_list2:hover .list1 > ul > li, .Rental_Features .ul_group .ul_list3:hover .list1 > ul > li, .Rental_Features .ul_group .ul_list4:hover .list1 > ul > li, .Rental_Features .ul_group .ul_list5:hover .list1 > ul > li {
    z-index: 99;
    display: block;
  }
  .more {
    width: 90%;
    height: auto;
    margin: 6rem 2rem 0 5rem;
  }
  footer {
    position: relative;
    height: 45vh;
  }
  footer .footer1 nav {
    display: none;
  }
  footer .footer1 .ft_sel select {
    position: absolute;
    left: 5rem;
    bottom: 20px;
    width: 88rem;
    height: 5rem;
  }
  footer .footer1 .ft_sel img {
    right: 4rem;
    top: 2rem;
  }
  footer .footer2 {
    padding-bottom: 0px;
    padding-top: 0px;
  }
  footer .footer2 ul {
    display: none;
  }
  footer .footer2 div {
    font-size: 1rem;
  }
  footer .footer2 div b {
    font-size: 1.3rem;
  }
  footer .footer2 div p {
    margin-top: 1rem;
    color: gray;
  }
}
@media (max-width: 859px) {
  html {
    font-size: 1vw;
  }
  .header {
    font-size: 0.8rem;
    padding: 0 2rem;
  }
  .main3 .main3_bg {
    height: 80rem;
  }
  .main3 .main3_bg .img_bg {
    width: 100%;
    height: 80%;
    animation: Mobilebg 3s;
  }
  @keyframes Mobilebg {
    0% {
      height: 100%;
    }
    100% {
      height: 80%;
    }
  }
  .main3 .main3_bg .txt {
    font-size: 1.5rem;
    position: static;
    margin: 4rem;
    text-align: center;
    color: #2F765F;
    animation: Mobiletxtup 3s 2s forwards;
  }
  @keyframes Mobiletxtup {
    0% {
      font-size: 1.5rem;
      position: static;
      margin: 4rem;
      text-align: center;
      color: #2F765F;
    }
    100% {
      font-size: 1.5rem;
      position: static;
      margin: 4rem;
      text-align: center;
      color: white;
    }
  }
  .main3 .main3_ex {
    flex-direction: column-reverse;
  }
  .main3 .main3_ex img {
    width: 100%;
    position: static;
  }
  .main3 .main3_ex .main3_ex1 {
    width: 100%;
  }
  ol li .main3_Pli .main3_Plf {
    position: static;
    height: 30vh;
  }
  ol li .main3_Pli .main3_Plf .main3_Plf_bt ul {
    flex-wrap: nowrap;
  }
  ol li .main3_Pli .main3_Prg {
    position: static;
  }
  ol li .main3_Pli .main3_Prg .main3_Prg_top h2 {
    margin-top: 6rem;
  }
  ol li .main3_Pli .main3_Prg .main3_Prg_bottom {
    margin-top: 1.5rem;
    width: 70vh;
    position: static;
  }
  ol li .main3_Pli .main3_Prg .main3_Prg_bottom img {
    transform: translateX(15%);
  }
  ol li .main3_Pli .main3_Prg .main3_Prg_top::before {
    top: -60%;
  }
  .OSRS {
    height: 80vh;
  }
  .OSRS img {
    height: 60vh;
  }
  .Rental_Features {
    height: auto;
    margin: 8rem 2rem 0 5rem;
  }
  .Rental_Features .RG_1 p {
    font-size: 1.5rem;
    width: 100%;
  }
  .Rental_Features .ul_group .ul_list1 .list1, .Rental_Features .ul_group .ul_list2 .list1, .Rental_Features .ul_group .ul_list3 .list1, .Rental_Features .ul_group .ul_list4 .list1, .Rental_Features .ul_group .ul_list5 .list1 {
    width: 80%;
    border-radius: 0px 15px 15px 15px;
    padding: 2rem;
    height: 35rem;
  }
  .Rental_Features .ul_group .ul_list1 .list1 span, .Rental_Features .ul_group .ul_list2 .list1 span, .Rental_Features .ul_group .ul_list3 .list1 span, .Rental_Features .ul_group .ul_list4 .list1 span, .Rental_Features .ul_group .ul_list5 .list1 span {
    font-size: 1.3rem;
  }
  .Rental_Features .ul_group .ul_list1 .list1 > ul > li, .Rental_Features .ul_group .ul_list2 .list1 > ul > li, .Rental_Features .ul_group .ul_list3 .list1 > ul > li, .Rental_Features .ul_group .ul_list4 .list1 > ul > li, .Rental_Features .ul_group .ul_list5 .list1 > ul > li {
    font-size: 1rem;
    display: none;
    margin-top: 1rem;
  }
  .Rental_Features .ul_group .ul_list1:hover, .Rental_Features .ul_group .ul_list2:hover, .Rental_Features .ul_group .ul_list3:hover, .Rental_Features .ul_group .ul_list4:hover, .Rental_Features .ul_group .ul_list5:hover {
    width: 24%;
    z-index: 99;
  }
  .Rental_Features .ul_group .ul_list1:hover .list1, .Rental_Features .ul_group .ul_list2:hover .list1, .Rental_Features .ul_group .ul_list3:hover .list1, .Rental_Features .ul_group .ul_list4:hover .list1, .Rental_Features .ul_group .ul_list5:hover .list1 {
    width: 100%;
  }
  .Rental_Features .ul_group .ul_list1:hover .list1 > ul > li, .Rental_Features .ul_group .ul_list2:hover .list1 > ul > li, .Rental_Features .ul_group .ul_list3:hover .list1 > ul > li, .Rental_Features .ul_group .ul_list4:hover .list1 > ul > li, .Rental_Features .ul_group .ul_list5:hover .list1 > ul > li {
    display: block;
  }
  .more {
    height: auto;
    margin: 6rem 2rem 0 5rem;
  }
  .more .more_1 {
    width: 100%;
  }
  footer {
    position: relative;
    height: 45vh;
  }
  footer .footer1 {
    padding-top: 5rem;
  }
  footer .footer1 nav {
    display: none;
  }
  footer .footer1 .ft_sel select {
    position: absolute;
    left: 5rem;
    bottom: 20px;
    width: 88rem;
    height: 5rem;
  }
  footer .footer1 .ft_sel img {
    right: 4rem;
    top: 5rem;
  }
  footer .footer2 ul {
    display: none;
  }
  footer .footer2 div {
    font-size: 1rem;
  }
  footer .footer2 div b {
    font-size: 1.3rem;
  }
  footer .footer2 div p {
    margin-top: 1rem;
    color: gray;
  }
}